.main_header {
    width: 100%;
    background-color: #2D3142;
}

.main_header .main_header_content{
    max-width: 1300px;
    margin: 0 auto;  /* cima e baixo 0  e as laterais serão ajustada automaticamente*/
    display: flex;
}

.main_header .main_header_content .logo{
    flex-basis: 330px;
    padding:  20px;
    width: 80px;
    display: flex;
    align-items: stretch;
    align-items: center;

}

.main_header .main_header_content .logo img{
    border-radius: 50%;
    max-width: 30%;
}

.main_header .main_header_content .logo p{
    color: #CCCCCC;
    font-weight: bold;
    font-family: aakar;
}

.main_header .main_header_content .logo span{
    font-size: 0.80em;
    position: relative;
    top: 21%;
    left: -9%;
    color: #CCCCCC;

}

.main_header .main_header_content .main_header_content_menu{
    flex-basis: calc(100% - 330px);
    display:  flex;
    justify-content:  flex-end;
}

.main_header_content_menu ul{
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a{
    padding: 0 26px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #D36838;
}

.main_header_content_menu ul li a:hover{
    color: #FFF;
    background-color: #D36838;
}

.main_cta{
    width: 100%;
    background-image: url("../img/home.png");
    background-color: #2D3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.main_cta .man_cta_content{
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta .man_cta_content h1{
    font-size: 3em;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
}

.main_cta .man_cta_content p {
    font-size: 1.875em;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_cta .man_cta_content .btn{
    color: #FFFFFF;
    background-color: #D36833;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
}
.main_cta .man_cta_content .main_cta_content_spacer{
    margin: 0 auto;
    max-width: 1300px;
    padding: 160px;
}

 /* MAIN_BLOG*/

.main_blog{
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_blog .main_blog_header{
    flex-basis: 100%;
    margin: 30px 0;

}

.main_blog .main_blog_header h1{
    color: #333333;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.main_blog article{
    opacity: 0.7;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
}

.main_blog article:hover{
    opacity: 1;
}

.main_blog article img{
    width: 100%;
    height: 50%;
}
.main_blog article p{
    margin: 10px 0;
}
.main_blog article .category{
    font-size: 0.875em;
    color: #D36833;
}

.main_blog article h2{
    font-weight: 300;
    font-size: 1.2em;
}

.main_blog article h2 a{
    color: #333333;
}

/* OPTIN*/
.main_optin{
    width: 100%;
    background-color: #2D3142;
    margin: 40px 0;
}

.main_optin_content{
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}

.main_optin_content header, .main_optin_content form{
    flex-basis: 50%;
}

.main_optin_content header h1, .main_optin_content header p{
    color: #FFFFFF;
    margin-right: 20px;
    text-align: right;
}

.main_optin_content header h1 {
    font-size: 1.2em;
    font-weight: 400;
}

.main_optin_content header p{
    font-weight: 300;
    font-size: 0.875em;
}

.main_optin_content form{
    display: flex;
    justify-content: space-evenly;
}

.main_optin_content form input[type=text], .main_optin_content form input[type=email]{
    flex-basis: 37%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    padding: 0px 10px;
}

.main_optin_content form button{
    flex-basis: 24%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #FFFFFF;
    background-color: #D36833;
    border: none;
    font-size: 0.875em;
}

/* main_course*/

.main_course{
    width: 100%;
    margin-top: 20px;
}

.main_course .main_couse_header{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    color: #333333;
    margin-bottom: 40px;
}

.main_course .main_couse_header img{
    border-radius: 50%;
    width: 20%;
    margin-bottom: 20px;
}

.main_course .main_couse_header img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.main_course .main_couse_header h1{
    font-size: 3em;
    margin-bottom: 10px;
}

.main_course_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.main_course_content article{
    flex-basis: calc(50% - 40px);
    margin: 20px 0;
    background-color: #EBEBEB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

.main_course_content article h2{
    font-size: 1.3em;
    color: #333333;
    margin-bottom: 4px;
}

.main_course_content article p{
    font-size: 0.9em;
    color: #333333;
}


/* main_course_fullwidth */

.main_course_fullwidth{
    width: 100%;
    background-color: #D36833;
    padding: 40px 0;

}

.main_course_fullwidth article img{
    width: 10%;
}

.main_course_rating_content{
    max-width: 1300px;
    margin: 0 auto;
}

.main_course_rating_content_title{
    color: #FFFFFF;
    text-align: center;
}

.main_course_rating_content_title h2{
    font-size: 2.4em;
    margin-bottom: -15px;
}

.main_course_rating_content_title img{
    margin-top: -5px;
    margin-bottom: -15px;
}

.main_course_rating_content_comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_course_rating_content_comment > header{
    flex-basis: 100%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
}

.main_course_rating_content_comment article{
    flex-basis: calc(50% - 20px);
    margin: 20px 0;
    background-color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

/*main_school*/

.main_school{
    width: 100%;
}

.main_school_content{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_school_header{
    flex-basis: 100%;
    padding: 40px 0;
    color: #333333;
}

.main_school_header h1{
    font-size: 2.2em;
    margin-bottom: 10px;
}

.main_school_content_left{
    flex-basis: calc(70% - 20px);
}

.main_school_content_left_content > header > p{
    padding: 10px 20px;
    background-color: #2D3142;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.main_school_content_reght{
    flex-basis: 30%;
}

.main_school_content_reght img{
    width: 100%;
    border-radius: 50%;
    -moiz-border-radius: 50%;
    -webkit-border-radius: 50%;

}

.main_school_content_left_content > header > p span{
    margin-left: 20px;
}

.main_school_content_left_social span a{
    padding: 7px;
}

.main_school_content_left_content > header > p a{
    color: #FFFFFF;
    font-size: 0.9em;
}

.main_school_content_left_content > header > p a:hover{
    text-decoration: underline;
}

.main_school_content_left_content > header > h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_school_content_left_content > p {
    margin-bottom: 20px;
}

.main_school_list {
    width: 100%;
    background-color: #EBEBEB;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_school_list > header {
    flex-basis: 100%;
    color: #D36833;
    margin-bottom: 20px;
}

.main_school_list article{
    flex-basis: calc(50% - 10px);
    margin: 4px 0;
}

.main_school_list article h3 {
    font-weight: 300;
}

/**
main_school_address
*/

.main_school_address {
    flex-basis: 100%;
    padding: 45px 0;
    text-align: center;
}
.main_school_address h2 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

/**
main_tutor
 */

.main_tutor {
    width: 100%;
    background-color: #2D3142;
}

.main_tutor_content{
    max-width: calc(1300px - 80px);
    padding: 40px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}

.main_tutor_content > header h1{
       font-size: 2em;
    margin-bottom: 10px;
}

.main_tutor_content_img {
    margin: 20px auto;
}

.main_tutor_content_img img{
    max-width: 20%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.main_tutor_content_img img:hover {
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 1.00);
}

.main_tutor_content_history h2{
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_tutor_content_history p {
    margin-bottom: 20px;
    padding: 0 20px;
}

.main_tutor_social_network{
    max-width: 800px;
    margin: 0 auto;
    background-color: #D36833;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_tutor_social_network > header{
    flex-basis: 100%;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.main_tutor_social_network article{
    flex-basis: 24%;
}

.main_tutor_social_network article h3{
    font-size: 0.9em;
    margin-bottom: 10px;
}

.main_tutor_social_network article h3 a{
    background-color: #FFFFFF;
    color: #D36833;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 20px;
}

.main_tutor_social_network article h3 a:hover{
    background-color: #2D3142;
    color: #FFFFFF;
}

/**
main_optin_footer
 */

.main_optin_footer{
    width: 100%;
    background-color: #F7F7F7;
}

.main_optin_footer_content{
    max-width: 1300px;
    padding: 40px 0;
    text-align: center;
    color: #333333;
}

.main_optin_footer_content h1{
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main_optin_footer_content .btn{
    color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #D36833;
    font-size: 1.2em;
    padding: 10px 20px;
}

/**
main_footer
 */

.main_footer{
    max-width: 1300px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    color: #333333;
}

.main_footer > header{
    flex-basis: 100%;
}

.main_footer > header h1{
    font-size: 1.4em;
    margin-bottom: 40px;
}

.main_footer > article{
    flex-basis: 33%;
}

.main_footer > article h2{
    margin-bottom: 20px;
}

.main_footer > article ul li{
    list-style: none;
    margin: 5px 0;
}

.main_footer > article ul li a{
    color: #333333;
}

.main_footer > article ul li a:hover{
    text-decoration: underline;
}

/**
    main_footer_rights
 */

.main_footer_rights{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #F7F7F7;
    border-top: 1px solid #EBEBEB;
    color: #333333;
    font-size: 0.9em;
    font-weight: 300;
}